/*to reset the page*/
li,
ul,
ol {
  list-style: none;
  
}

input,
button,
textarea,
select {
    font: inherit;
  }

   
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    
}

a:link, a:visited, a:active {
  text-decoration:none;
}





/* .info{
    
    
} */